FORECAST_ENGINE=claude
DATABASE_URL=postgres://betterweather:betterweather@localhost:5432/betterweather
GOOGLE_MAPS_API_KEY=
GOOGLE_WEATHER_API_KEY=
GOOGLE_GEMINI_API_KEY=
OPENROUTER_API_KEY=
OPENAI_API_KEY=
XAI_API_KEY=
LANGGRAPH_LLM_PROVIDER=openrouter
LANGSMITH_PROJECT=BetterWeather
LANGSMITH_API_KEY=
VRT_APIURL=http://localhost:4200
VRT_PROJECT=betterweatherfor-life
VRT_APIKEY=DEFAULTUSERAPIKEYTOBECHANGED
VRT_ENABLESOFTASSERT=true
VRT_CIBUILDID=
